{% extends "base.html" %}
{% block content %}

<div class="container">
	<div class="row">
		<div class="col-md-6">
			{% for x in messages %}
				{% if x %}
					<div class="alert alert-success" role="alert">
						{{x}}
					</div>
				{% endif %}
			{% endfor %}
			<h3>Ubah : {{ komik.judul}}</h3>
			{# <form action="/buku/ubah/{{buku.id}}" method="POST"> #}
			<form action="{% url 'ubah_komik' komik.id %}" method="POST"  enctype="multipart/form-data">

				{% csrf_token %}

				{{form.as_p}}

				<button class="btn btn-primary">Simpan Buku</button>
				<a href="/komik" class="btn btn-danger">Kembali</a>
			</form>
		</div>
	</div>
</div>
	

{% endblock content %}